* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: rgb(55, 167, 211);
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}


/* HEADER */

.Portada {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: absolute;
}

#Fondo-Portada {
    width: 101%;
    height: 100%;
    overflow: hidden;
    margin: -460px 0px 0px -20px;
    position: relative;
}

#Logo {
    margin-top: 0px;
    margin-right: auto;
    margin-left: 700px;
    position: relative;
}


/* Navegador */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


/*Menu de tablets / celulares */

@media all and (min-width: 600px) {
    .Portada {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        position: absolute;
    }
    #Fondo-Portada {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: -1000px 0px 0px -20px;
        position: block;
    }
    #Logo {
        width: 20%;
        height: 20%;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        position: block;
        margin: -100px 0px 0px -20px;
    }
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}


/* Menu escritorio */

@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}