* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(103, 144, 255);
}

.icon .fas {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
}

.icon2 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
}

.sidenav2 {
    background-color: rgb(63, 98, 195);
}

.sidenav {
    height: 100%;
    width: 0;
    background-color: #111;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

.sidenav a {
    padding: 9px 9px 9px 33px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.4s;
    border-bottom: 1px solid #f1f1f1;
}

.sidenav a:hover {
    background: #2DBACB;
}

.sidenav .fa-times {
    color: #ffffff;
    font-size: 20px;
}

.producto {
    margin-top: 300px;
    margin-left: 100px;
    background-color: white;
    margin-right: 1620px;
    box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.productoimg {}

@media screen and (max-width: 900px) {
    #Fondo-Portada {
        position: block;
        margin: 0px;
        width: 90%;
        height: 70%;
    }
    .logo {
        position: block;
        width: 51%;
        height: 37%;
        top: 350px;
        left: 220px;
    }
    body {
        background: url(https://www.xtrafondos.com/wallpapers/vertical/minecraft-dungens-jungle-awaens-hero-5659.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .icon .fas {
        color: rgb(0, 0, 0);
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        cursor: pointer;
        display: flex;
    }
    .icon2 {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        cursor: pointer;
        display: flex;
    }
}